<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/px-card/px-card.html">

<dom-module id="dashboard-view">
    <template>
        <px-card header-text="Card">
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p><p>test</p>
            <p>test</p>

        </px-card>
    </template>
    <script>
        Polymer({
            is: 'dashboard-view',

        });
    </script>
</dom-module>
